*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    padding: 30px;
}

#page-title{
    text-align:center;
    color:firebrick;
    font-size: 48px;
}

div.container{
    text-align:center;
    margin: 30px;
}

p{
    color: #333333;
    line-height: 1.5em;
}

ul,ol{
    display: inline-block;
    text-align: left;
    font-size: 18px;
    color: #352F44;
    line-height: 1.5em;
}

li{
    color:#333333;
    padding-left: 5px;
    list-style: inside;
    font-size: 16px;
}

a{
    color: #352F44;
}

h1,h2,h3{
    color: #352F44;
    margin-top: 20px;
    margin-bottom: 15px;
}

img{
    height: 200px;
    width: auto;
}